In [1]:
import pandas as pd

In [44]:
Zillow_Ohio_csv = "Resources/Zillow_OH_CSV.csv"
crime2017_csv = "Resources/OhioCrime2017_NoNan.csv"
crime2016_csv = "Resources/OhioCrime2016_NoNan.csv"

In [45]:
zillow_df = pd.read_csv(Zillow_Ohio_csv)
crime2017_df = pd.read_csv(crime2017_csv)
#crime2017_df.dropna(how='all')

crime2017_df = crime2017_df.fillna(0)

crime2017_df['County'] = crime2017_df['County'].str.upper()
crime2017_df.head()
#crime2017_df.columns

crime2016_df = pd.read_csv(crime2016_csv)
#crime2017_df.dropna(how='all')

crime2016_df = crime2016_df.fillna(0)

crime2016_df['County'] = crime2016_df['County'].str.upper()
crime2016_df.head()

,Unnamed: 0,County,City,AGENCY NAME,POPULATION,VIOLENT CRIME,PROPERTY CRIME,MURDER,RAPE,ROBBERY,AGGRAVATED ASSAULT,BURGLARY,LARCENY,MTR VEHICLE THEFT,ARSON
0,9,ALLEN COUNTY,Lima,LIMA,"37,715",356,"2,259",8,44,123,181,602,"1,540",117,22
1,10,ALLEN COUNTY,Bluffton,BLUFFTON,"3,953",1,78,0,0,1,0,15,59,4,0
2,11,ALLEN COUNTY,Delphos,DELPHOS,"3,884",2,83,0,1,0,1,13,69,1,0
3,12,ALLEN COUNTY,Spencerville,SPENCERVILLE,"2,195",1,28,0,0,0,1,5,23,0,1
4,13,ALLEN COUNTY,Elida,ELIDA,"1,852",0,16,0,0,0,0,3,12,1,0

In [35]:
zillow_df['CountyName'] = zillow_df['CountyName'].str.upper()
zillow_df.head()

zillow_df.columns

Index(['Index', 'RegionID', 'RegionName', 'City', 'State', 'Metro',
       'CountyName', 'SizeRank', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [51]:
merge_Crime_df = pd.merge(crime2016_df, crime2017_df, left_on="City", right_on="City")
merge_Crime_df.head()
merge_Crime_df.to_csv("merge_Crime_df1.csv")

merge_Crime_df.columns

Index(['Unnamed: 0_x', 'County_x', 'City', 'AGENCY NAME_x', 'POPULATION_x',
       'VIOLENT CRIME_x', 'PROPERTY CRIME_x', 'MURDER_x', 'RAPE_x',
       'ROBBERY_x', 'AGGRAVATED ASSAULT_x', 'BURGLARY_x', 'LARCENY_x',
       'MTR VEHICLE THEFT_x', 'ARSON_x', 'Unnamed: 0_y', 'County_y', 'ORI',
       'AGENCY NAME_y', 'POPULATION_y', 'VIOLENT CRIME_y', 'PROPERTY CRIME_y',
       'MURDER_y', 'RAPE_y', 'ROBBERY_y', 'AGGRAVATED ASSAULT_y', 'BURGLARY_y',
       'LARCENY_y', 'MTR VEHICLE THEFT_y', 'ARSON_y'],
      dtype='object')

In [42]:
merge_Zillow_Crime_df = pd.merge(zillow_df, crime2017_df, how='left', left_on="City", right_on="City")
merge_Zillow_Crime_df.head()
merge_Zillow_Crime_df.to_csv("MergeData1.csv")

merge_Zillow_Crime_df.columns

Index(['Index', 'RegionID', 'RegionName', 'City', 'State', 'Metro',
       'CountyName', 'SizeRank', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', 'Unnamed: 0',
       'County', 'ORI', 'AGENCY NAME', 'POPULATION', 'VIOLENT CRIME',
       'PROPERTY CRIME', 'MURDER', 'RAPE', 'ROBBERY', 'AGGRAVATED ASSAULT',
       'BURGLARY', 'LARCENY', 'MTR VEHICLE THEFT', 'ARSON'],
      dtype='object')