In [6]:
import pandas as pd

In [7]:
Zillow_Ohio_csv = "Resources/Zillow_OH_CSV.csv"
crime2017_csv = "Resources/2017Crime.csv"

In [26]:
zillow_df = pd.read_csv(Zillow_Ohio_csv)
crime2017_df = pd.read_csv(crime2017_csv)
#crime2017_df.dropna(how='all')

crime2017_df = crime2017_df.fillna(0)

crime2017_df['County Name'] = crime2017_df['County Name'].str.upper()
crime2017_df.head()
#crime2017_df.columns

,ORI,AGENCY NAME,County Name,POPULATION,VIOLENT CRIME,PROPERTY CRIME,MURDER,RAPE,ROBBERY,AGGRAVATED ASSAULT,BURGLARY,LARCENY,MTR VEHICLE THEFT,ARSON
0,OH00204,LIMA,ALLEN COUNTY,"37,220",275,"1,982",5.0,52.0,81,137,569,"1,334",79,20.0
1,OH00201,BLUFFTON,ALLEN COUNTY,"3,987",1,46,0.0,1.0,0,0,9,36,1,0.0
2,OH00202,DELPHOS,ALLEN COUNTY,"3,927",3,90,0.0,3.0,0,0,17,72,1,0.0
3,OH00205,SPENCERVILLE,ALLEN COUNTY,"2,184",0,14,0.0,0.0,0,0,5,9,0,0.0
4,OH00207,ELIDA,ALLEN COUNTY,"1,836",1,4,0.0,0.0,0,1,1,3,0,0.0

In [28]:
zillow_df['CountyName'] = zillow_df['CountyName'].str.upper()
zillow_df.head()

zillow_df.columns

Index(['Index', 'RegionID', 'RegionName', 'City', 'State', 'Metro',
       'CountyName', 'SizeRank', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [30]:
merge_Zillow_Crime_df = pd.merge(zillow_df, crime2017_df, how='left', left_on="CountyName", right_on="County Name")
merge_Zillow_Crime_df.head()
merge_Zillow_Crime_df.to_csv("MergeData.csv")

merge_Zillow_Crime_df.columns

Index(['Index', 'RegionID', 'RegionName', 'City', 'State', 'Metro',
       'CountyName', 'SizeRank', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', 'ORI',
       'AGENCY NAME', 'County Name', 'POPULATION', 'VIOLENT CRIME',
       'PROPERTY CRIME', 'MURDER', 'RAPE', 'ROBBERY', 'AGGRAVATED ASSAULT',
       'BURGLARY', 'LARCENY', 'MTR VEHICLE THEFT', 'ARSON'],
      dtype='object')